body:after {
    content: "beta";
    position: absolute;
    width: 70px;
    height: 18px;
    background: #6c757d;
    top: 7px;
    left: -18px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 18px;
    transform: rotate(-45deg);
}

#title img {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
}

.tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}

.help-content li {
    margin-bottom: 0.2rem;
}

.fa-file {
    position: relative;
}

.fa-icon-file-type {
    position: absolute;
    color: white;
    font-weight: 600;
    left: 0;
    font-size: 30%;
    right: 0;
    top: 45%;
}

.bulleted_list_item {
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50% !important;
}

.bulleted_list_item.active {
    border: 1px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #0d6efd40;
}

.tab-content > .active {
    outline: none;
}

.input-group .form-range {
    height: inherit !important;
}

.ratio-A4 {
    --bs-aspect-ratio: calc(29.7 / 21 * 100%);
}

.list-group.small li {
    padding: 6px 12px !important;
    font-size: 0.95em;
}

.list-group.small .badge {
    font-size: 0.9em;
    padding: 3px 6px;
}

.small .badge {
    font-size: 0.9em;
}

.bg-purple-dark {
    background-color: #251a4d;
}

.bg-purple-medium {
    background-color: #4e36a2;
}

.break-before {
    page-break-before: always;
}

.aligned-form .input-group > *:first-child {
    min-width: 52px;
    text-align: center !important;
    display: inline-block;
}

.aligned-form .input-group .form-range,
.aligned-form .input-group .form-range {
    min-width: 42%;
    max-width: 42%;
}


.fa-fw {
    width: 1.75em;
}

.d-flex > .btn-sm {
    line-height: 1px;
}

.btn-small-padding {
    line-height: 20px;
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.2rem;
}

.unit-select, .input-group .form-select {
    padding-right: 1rem;
}

.unit-select {
    max-width: 70px;
}

#face-measurement-select {
    max-width: 150px;
}

.absolute-top-right-48 {
    position: absolute;
    top: 0;
    right: -48px;
}

.absolute-top-left-48 {
    position: absolute;
    top: 0;
    left: -48px;
}


.accordion-body li {
    margin-bottom: 12px;
}

.offcanvas-backdrop.show {
    opacity: 0.1 !important;
}

.offcanvas + .auto-shift {
    margin: 0;
    transition: margin-left .1s ease-in-out
}

.offcanvas {
    max-width: 380px !important;
}

@media (min-width: 1280px) {
    .offcanvas.show + .auto-shift {
        margin-right: 380px !important;
    }
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #B385F3;
    overflow: hidden;
}

.loading-bar div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #813FEF;
    animation: loading-bar-start 2100ms cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
}

.loading-bar div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #813FEF;
    animation: loading-bar-end 2100ms cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
    animation-delay: 1150ms;
    display: none;
}


@keyframes loading-bar-start {
    0% {
        left: -35%;
        right: 100%;
    }
    60%, 100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes loading-bar-end {
    0% {
        left: -200%;
        right: 100%;
    }
    60%, 100% {
        left: 107%;
        right: -8%;
    }
}


.toast {
    width: auto !important;
}

.rotate-45 {
    transform: rotate(45deg);
}


ul.keyboard-shortcut-list {
    margin: 0;
    padding: 0;
}

ul.keyboard-shortcut-list .key {
    display: inline-block;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f0f0f0", GradientType=0);
    box-shadow: inset 0 0 2px #fff;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    line-height: 19px;
    font-size: 14px;
    color: #a6a6a6 !important;
    padding: 5px;
    text-align: center;
}

ul.keyboard-shortcut-list .key-space {
    width: 96px;
}

ul.keyboard-shortcut-list .key:hover {
    background: -moz-linear-gradient(top, #f2f2f2 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #efefef 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, #efefef 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, #efefef 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #efefef 100%);
}


.up-first {
    display: inline-block;
}

.up-first:first-letter {
    text-transform: uppercase;
}


svg.svg_rhombus_icon use {
    stroke: #0B5ED7;
    stroke-width: 2;
    fill: none;
}


.btn-primary svg.svg_rhombus_icon use,
.btn-secondary svg.svg_rhombus_icon use {
    stroke: white !important;
}

#svg_rhombus_customizer use {
    stroke: #bfbfbf;
    stroke-width: 0.75;
    fill: none;
}

#svg_rhombus_customizer circle {
    fill: #0B5ED7;
    stroke: #0B5ED7;
}

#svg_rhombus_customizer use.clickable {
    stroke: transparent;
    cursor: pointer;
    pointer-events: stroke;
}

svg.svg_rhombus_customizer use.clickable:hover {
    stroke: #5C636A;
}

#svg_rhombus_customizer use.selected {
    stroke: #0B5ED7 !important;
}

#renderer_a4_container{
    margin: auto;
}

@media screen and (max-width: 420px){
    #renderer_a4_container{
        margin: 0!important;
    }
}

