#title img {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
}

.tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}

.help-content li {
    margin-bottom: 0.2rem;
}

.fa-file {
    position: relative;
}

.fa-icon-file-type {
    position: absolute;
    color: white;
    font-weight: 600;
    left: 0;
    font-size: 30%;
    right: 0;
    top: 45%;
}

.bulleted_list_item {
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50% !important;
}

.bulleted_list_item.active {
    border: 1px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #0d6efd40;
}

.tab-content > .active {
    outline: none;
}

.input-group .form-range {
    height: inherit !important;
}

.ratio-A4 {
    --bs-aspect-ratio: calc(29.7 / 21 * 100%);
}

.small .badge {
    font-size: 0.9em;
}

.bg-purple-dark {
    background-color: #251a4d;
}

.bg-purple-medium {
    background-color: #4e36a2;
}

.break-before {
    page-break-before: always;
}

.aligned-form .input-group > *:first-child {
    min-width: 52px;
    text-align: center !important;
    display: inline-block;
}

.aligned-form .input-group .form-range,
.aligned-form .input-group .form-range {
    min-width: 32%;
    max-width: 32%;
}


.fa-fw {
    width: 1.75em;
}

.d-flex > .btn-sm {
    line-height: 1px;
}

.unit-select, .input-group .form-select {
    padding-right: 1rem;
}

.unit-select {
    max-width: 70px;
}

.exports-container {
    position: absolute;
    top: 0px;
    right: -48px;
}


.accordion-body li {
    margin-bottom: 12px;
}

.offcanvas-backdrop.show {
    opacity: 0.1 !important;
}

.offcanvas + .auto-shift {
    margin: 0;
    transition: margin-left .1s ease-in-out
}

@media (min-width: 1280px) {
    .offcanvas.show + .auto-shift {
        margin-right: 400px !important;
    }
}



