#title img {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
}

.input-group .form-range {
    height: inherit !important;
}


.bg-orange {
    background-color: #f77753;
}

.bg-purple {
    background-color: #7753f7;
}

.bg-purple-light {
    background-color: #ad95f5;
}

.small .badge {
    font-size: 0.9em;
}

.bg-purple-dark {
    background-color: #251a4d;
}

.bg-purple-medium {
    background-color: #4e36a2;
}


.break-before {
    page-break-before: always;
}

.input-group > *:first-child {
    min-width: 80px;
}

.input-group .form-range {
    min-width: 160px;
    max-width: 160px;
}

.d-flex > .btn-sm, .input-group .btn {
    width: 48px;
}

.d-flex > .btn-sm {
    line-height: 1px;
}

.input-group .form-select {
    max-width: 70px;
    padding-right: 1rem;
}


.accordion-body li {
    margin-bottom: 12px;
}