#title img {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .2));
}

.input-group .form-range {
    height: inherit !important;
}


.small .badge {
    font-size: 0.9em;
}

.bg-purple-dark {
    background-color: #251a4d;
}

.bg-purple-medium {
    background-color: #4e36a2;
}

.break-before {
    page-break-before: always;
}

.input-group > *:first-child {
    min-width: 60px;
}

.input-group .form-range {
    min-width: 45%;
    max-width: 45%;
}

/*.input-group .form-control {*/
/*    min-width: 20%;*/
/*    max-width: 30%;*/
/*}*/

.d-flex > .btn-sm, .input-group .btn {
    width: 48px;
}

.d-flex > .btn-sm {
    line-height: 1px;
}

.input-group .form-select {
    max-width: 70px;
    padding-right: 1rem;
}


.accordion-body li {
    margin-bottom: 12px;
}